@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins", sans-serif;
  font-size: inherit;
  line-height: 1;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

address {
  font-style: normal;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0rem 0rem;
  font-weight: 500;
  color: #fff;
  padding: 1.375rem 1.875rem;
  background: #81bd52;
  border-radius: 1.1875rem;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=date] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input {
  border-radius: 1.125rem !important;
  width: 100%;
  display: block;
  padding: 0rem 2rem 0 4.125rem;
  border: 0.0625rem solid #a0a3a3;
  color: #a0a3a3;
  height: 3.9375rem;
}

.input::-webkit-input-placeholder {
  color: #a0a3a3;
  opacity: 1;
}

.input::-moz-placeholder {
  color: #a0a3a3;
  opacity: 1;
}

.input:-ms-input-placeholder {
  color: #a0a3a3;
  opacity: 1;
}

.input::-ms-input-placeholder {
  color: #a0a3a3;
  opacity: 1;
}

.input::placeholder {
  color: #a0a3a3;
  opacity: 1;
}

textarea.input {
  resize: none;
  padding: 0rem 0rem;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.checkbox__input:checked + .checkbox__label::after {
  opacity: 1;
}

.checkbox__label {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  color: #a0a3a3;
}

.checkbox__label a {
  color: #81bd52;
  position: relative;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.checkbox__label a::after {
  content: "";
  position: absolute;
  left: 0;
  top: calc(100% + 0.1875rem);
  right: 0;
  background: currentColor;
  height: 0.0625rem;
}

.checkbox__label:before {
  content: "";
  border-radius: 0.25rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 1.5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.5rem;
          flex: 0 0 1.5rem;
  height: 1.5rem;
  background: #81bd52;
  margin-right: 0.6875rem;
}

.checkbox__label::after {
  content: "";
  background: url("../img/contact/icons/check.svg") 50%/100% no-repeat;
  width: 1.0625rem;
  height: 0.8125rem;
  position: absolute;
  left: 0.25rem;
  top: 0.3125rem;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.title {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 1.34;
}

.title span {
  color: #81bd52;
}

.header {
  padding: 0.75rem 0rem;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 14.75rem;
          flex: 0 0 14.75rem;
  width: 14.75rem;
  margin-right: auto;
}

.header__logo img {
  width: 100%;
  height: auto;
}

.header__login {
  font-weight: 500;
  color: #fff;
  border-radius: 0.75rem;
  padding: 0.625rem 1.8125rem;
  background: #81bd52;
}

.menu:not(:last-child) {
  margin-right: 2.5rem;
}

.menu-open .menu__body {
  left: 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item:not(:first-child) {
  margin-left: 1.5625rem;
}

.menu__link {
  font-weight: 500;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu__link_current {
  color: #81bd52;
}

.langs-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.langs-header:not(:last-child) {
  margin-right: 2.5rem;
}

.langs-header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.langs-header__item:not(:last-child)::after {
  content: "/";
  font-weight: 500;
  margin: 0rem 0.125rem;
}

.langs-header__btn {
  font-weight: 500;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.langs-header__btn_current {
  color: #81bd52;
}

.theme-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.theme-header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.theme-header__item_current .theme-header__btn svg path {
  fill: #81bd52;
}

.theme-header__btn {
  font-size: 0;
}

.theme-header__btn svg path {
  fill: #fff;
}

.contacts-menu {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts-menu__label {
  font-weight: 500;
  font-size: 1rem;
}

.contacts-menu__label:not(:last-child) {
  margin-bottom: 0.625rem;
}

.contacts-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-menu__link {
  font-size: 0.875rem;
}

.contacts-menu__link_mail {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts-menu__link_mail::before {
  content: "";
  background: url("../img/icons/contacts/mail.svg") 50%/100% no-repeat;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.25rem;
          flex: 0 0 1.25rem;
  width: 1.25rem;
  height: 1.125rem;
  margin-right: 0.4375rem;
}

.socials-menu {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials-menu__label {
  font-weight: 500;
  font-size: 1rem;
}

.socials-menu__label:not(:last-child) {
  margin-bottom: 0.625rem;
}

.socials-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials-menu__item:not(:last-child) {
  margin-right: 1.5625rem;
}

.socials-menu__link {
  font-size: 0;
}

.icon-menu {
  display: none;
}

.footer {
  background: #414648;
}

.top-footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem 0rem 1.875rem;
  border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.2);
}

.top-footer__logo {
  width: 14.875rem;
}

.top-footer__logo img {
  width: 100%;
  height: auto;
}

.menu-footer {
  margin-right: 7.1875rem;
}

.menu-footer__item:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.menu-footer__link {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
}

.contacts-footer {
  margin-right: 3.25rem;
}

.contacts-footer__line:not(:last-child) {
  margin-bottom: 1.875rem;
}

.contacts-footer__label {
  font-weight: 500;
  font-size: 1.25rem;
  color: #fff;
}

.contacts-footer__label:not(:last-child) {
  margin-bottom: 0.8125rem;
}

.contacts-footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-footer__link {
  font-size: 1.125rem;
  color: #fff;
}

.contacts-footer__link_mail {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts-footer__link_mail::before {
  content: "";
  background: url("../img/icons/contacts/mail.svg") 50%/100% no-repeat;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.25rem;
          flex: 0 0 1.25rem;
  width: 1.25rem;
  height: 1.125rem;
  margin-right: 1rem;
}

.contacts-footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts-footer__social:not(:last-child) {
  margin-right: 1.5625rem;
}

.contacts-footer__s-link {
  font-size: 0;
}

.socials-footer__label {
  font-weight: 500;
  font-size: 1.25rem;
  color: #fff;
}

.socials-footer__label:not(:last-child) {
  margin-bottom: 0.4375rem;
}

.socials-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials-footer__item:not(:last-child) {
  margin-right: 1.5625rem;
}

.socials-footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.bottom-footer {
  padding: 1.25rem 0rem 1.375rem;
  text-align: center;
}

.bottom-footer__copy {
  font-weight: 500;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.3);
}

.about-hero {
  padding: 4.8125rem 0rem 5.3125rem;
}

.line-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6.25rem;
}

.line-about:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.line-about:not(:last-child) {
  margin-bottom: 1.875rem;
}

.line-about__content {
  max-width: 36.9375rem;
}

.line-about__title:not(:last-child) {
  margin-bottom: 1rem;
}

.line-about__text {
  line-height: 1.65;
  color: rgba(0, 0, 0, 0.7);
}

.group {
  padding: 5.3125rem 0rem 6.5rem;
  background: rgba(129, 189, 82, 0.1);
}

.group__title {
  text-align: center;
}

.group__title:not(:last-child) {
  margin-bottom: 5.125rem;
}

.group__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.875rem;
}

.column-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.column-group__icon {
  max-width: 4.375rem;
}

.column-group__icon img {
  width: 100%;
  height: auto;
}

.column-group__icon:not(:last-child) {
  margin-bottom: 1.1875rem;
}

.column-group__descr {
  font-size: 1rem;
  line-height: 1.65;
}

.contact {
  padding: 2.0625rem 0rem 3.5rem;
}

.contact__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0rem 10.375rem 0rem 8.0625rem;
}

.left-contact {
  text-align: center;
  max-width: 29.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left-contact__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.left-contact__descr {
  font-size: 1.25rem;
  color: rgba(0, 0, 0, 0.7);
  line-height: 1.34;
}

.left-contact__descr:not(:last-child) {
  margin-bottom: 1.3125rem;
}

.form-contact {
  max-width: 23.875rem;
  width: 100%;
}

.form-contact__lines:not(:last-child) {
  margin-bottom: 1.125rem;
}

.form-contact__line {
  position: relative;
}

.form-contact__line::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 2rem;
  background: url("../img/contact/icons/name.svg") 50%/100% no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}

.form-contact__line:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.form-contact__line_mail::after {
  background-image: url("../img/contact/icons/mail.svg");
  height: 1.1875rem;
}

.form-contact__line_social::after {
  background-image: url("../img/contact/icons/social.svg");
}

.form-contact__checkbox:not(:last-child) {
  margin-bottom: 1.25rem;
}

.form-contact__btn {
  width: 100%;
}

.right-contact {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right-contact__qr {
  width: 15.75rem;
}

.right-contact__qr img {
  width: 100%;
  height: auto;
}

.right-contact__qr:not(:last-child) {
  margin-bottom: 2.75rem;
}

.right-contact__descr {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.34;
  position: relative;
}

.help {
  padding: 3.75rem 0rem 5.875rem;
}

.help__container {
  text-align: center;
}

.help__title:not(:last-child) {
  margin-bottom: 2.5rem;
}

.help__btn {
  padding: 1.375rem 5.625rem;
}

@media (min-width: 29.99875em) {
  .theme-header__item {
    display: none;
  }

  .theme-header__item_current {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 61.99875em) {
  .menu__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 0.3125rem;
  }

  .contacts-menu {
    display: none;
  }

  .socials-menu {
    display: none;
  }

  .top-footer__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 14.875rem;
            flex: 0 0 14.875rem;
    margin-right: auto;
  }

  .column-group {
    max-width: 15.125rem;
  }

  .right-contact__descr::after {
    content: "";
    position: absolute;
    background: url("../img/contact/qr-line.svg") 50%/100% no-repeat;
    width: 4.25rem;
    height: 2.75rem;
    left: 100%;
    -webkit-transform: rotate(132deg);
        -ms-transform: rotate(132deg);
            transform: rotate(132deg);
    bottom: 100%;
    pointer-events: none;
  }

  .help__btn {
    display: none;
  }
}

@media (min-width: 77.49875em) {
  .menu__item_login {
    display: none;
  }

  .theme-header:not(:last-child) {
    margin-right: 2.5rem;
  }
}

@media (max-width: 77.49875em) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 13.25rem;
            flex: 0 0 13.25rem;
    width: 13.25rem;
  }

  .header__login {
    display: none;
  }

  .menu:not(:last-child) {
    margin-right: 1.25rem;
  }

  .menu__item:not(:first-child) {
    margin-left: 1.25rem;
  }

  .langs-header:not(:last-child) {
    margin-right: 1.25rem;
  }

  .menu-footer {
    margin-right: 2.5rem;
  }

  .contacts-footer {
    margin-right: 2.5rem;
  }

  .line-about {
    gap: 3.125rem;
  }

  .contact__body {
    padding: 0rem 5.625rem;
  }
}

@media (max-width: 61.99875em) {
  .title {
    font-size: 2.125rem;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 11.3125rem;
            flex: 0 0 11.3125rem;
    width: 11.3125rem;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .menu {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }

  .menu:not(:last-child) {
    margin-right: 0;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: #414648;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    padding: 2.8125rem 1.25rem;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 1.875rem;
    border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.2);
  }

  .menu__list:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .menu__item:not(:first-child) {
    margin-top: 1.25rem;
  }

  .menu__link {
    color: #fff;
    font-size: 1.25rem;
  }

  .langs-header {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .theme-header {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .theme-header:not(:last-child) {
    margin-right: 1.25rem;
  }

  .contacts-menu:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0.3125rem;
    position: absolute;
    height: 0.125rem;
    background-color: #000;
    border-radius: 0.125rem;
  }

  .icon-menu::before {
    top: 0.1875rem;
    width: 66.66%;
  }

  .icon-menu::after {
    bottom: 0.1875rem;
    width: 23.33%;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
    width: 43.33%;
  }

  .menu-open .icon-menu span {
    width: 0;
    background-color: #fff;
  }

  .menu-open .icon-menu::before,
  .menu-open .icon-menu::after {
    background-color: #fff;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    width: 66.66%;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .top-footer__body {
    padding: 1.8125rem 0rem 1.25rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .top-footer__logo {
    width: 14.6875rem;
  }

  .top-footer__logo:not(:last-child) {
    margin-bottom: 2.5625rem;
  }

  .menu-footer {
    display: none;
  }

  .contacts-footer {
    margin-right: 0;
    margin-bottom: 1.875rem;
  }

  .contacts-footer__line {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .contacts-footer__label {
    font-size: 1.125rem;
  }

  .contacts-footer__link {
    font-size: 1rem;
  }

  .socials-footer__label {
    font-size: 1.125rem;
  }

  .socials-footer__label:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .socials-footer__item:not(:last-child) {
    margin-right: 1.4375rem;
  }

  .bottom-footer {
    padding: 1.25rem 0rem 1.8125rem;
  }

  .about-hero {
    padding: 3.125rem 0rem 4.375rem;
  }

  .line-about {
    gap: 1.875rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .line-about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .line-about:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .line-about:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .line-about__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .group {
    padding: 3.75rem 0rem;
  }

  .group__title:not(:last-child) {
    margin-bottom: 3.75rem;
  }

  .group__columns {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .contact {
    padding: 1.875rem 0rem 2.6875rem;
  }

  .contact__body {
    padding: 0rem;
  }

  .left-contact {
    max-width: 27.5rem;
  }

  .left-contact__descr {
    font-size: 1.125rem;
  }

  .left-contact__descr:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .form-contact__lines:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .form-contact__checkbox:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .right-contact__qr:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .right-contact__descr {
    font-size: 1.375rem;
  }

  .help {
    padding: 4.375rem 0rem 7.5rem;
  }

  .help__image:not(:last-child) {
    margin-bottom: 2.6875rem;
  }

  .help__image img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 47.99875em) {
  .title {
    font-size: 1.875rem;
  }

  .langs-header:not(:last-child) {
    margin-right: 0;
    margin-bottom: 1.25rem;
  }

  .langs-header__item:not(:last-child)::after {
    color: #fff;
    margin: 0rem 0.625rem;
  }

  .langs-header__btn {
    font-size: 0;
    color: #fff;
  }

  .langs-header__btn::after {
    content: attr(data-l);
    font-size: 1.125rem;
  }

  .contacts-footer__label {
    font-size: 1rem;
  }

  .contacts-footer__label:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .contacts-footer__link {
    font-size: 0.875rem;
  }

  .socials-footer__label {
    font-size: 1rem;
  }

  .about-hero {
    padding: 2.3125rem 0rem 4.375rem;
  }

  .line-about:not(:last-child) {
    margin-bottom: 4.375rem;
  }

  .line-about__text {
    font-size: 1rem;
  }

  .line-about__image {
    max-width: 100%;
  }

  .line-about__image img {
    width: 100%;
    height: auto;
  }

  .group {
    padding: 2.875rem 0rem;
  }

  .group__title:not(:last-child) {
    margin-bottom: 2.8125rem;
  }

  .contact__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .left-contact {
    margin-bottom: 3.125rem;
  }

  .left-contact__descr {
    font-size: 1rem;
  }

  .right-contact__descr {
    font-size: 1.25rem;
  }

  .help {
    padding: 6.0625rem 0rem 11rem;
  }

  .help__title:not(:last-child) {
    margin-bottom: 2.8125rem;
  }
}

@media (max-width: 29.99875em) {
  .title {
    font-size: 1.625rem;
  }

  .theme-header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.2);
    padding-bottom: 1.875rem;
  }

  .theme-header:not(:last-child) {
    margin-right: 0;
    margin-bottom: 1.875rem;
  }

  .theme-header__item:not(:last-child)::after {
    content: "/";
    font-weight: 500;
    color: #fff;
    margin: 0rem 0.625rem;
  }

  .group__columns {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .help__btn {
    width: 100%;
  }
}

@media (any-hover: hover) {
  .checkbox__label a:hover {
    color: #a0a3a3;
  }

  .menu__link:hover {
    color: #81bd52;
  }

  .langs-header__btn:hover {
    color: #81bd52;
  }
}