@font-face {
  font-family: Unbounded;
  font-display: swap;
  src: url("../fonts/Unbounded-Bold.woff2") format("woff2"), url("../fonts/Unbounded-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Unbounded;
  font-display: swap;
  src: url("../fonts/Unbounded-Regular.woff2") format("woff2"), url("../fonts/Unbounded-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: UnboundedBlond;
  font-display: swap;
  src: url("../fonts/UnboundedBlond.woff2") format("woff2"), url("../fonts/UnboundedBlond.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "UnboundedBlond", sans-serif;
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "UnboundedBlond", sans-serif;
  font-size: inherit;
  line-height: 1;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

address {
  font-style: normal;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper main > * {
  min-height: 100vh;
}

.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.4375rem 2.6875rem 1.9375rem 3.125rem;
  font-size: 1.125rem;
  color: #fff;
  background-color: #000;
  border-radius: 60%;
  font-family: "Unbounded", sans-serif;
  position: relative;
}

.no-webp .btn::after {
  background: url("../img/icons/btn-background.png") 50%/100% no-repeat; }

.btn::after {
  content: "";
  position: absolute;
  left: -0.0625rem;
  right: -0.0625rem;
  top: -0.25rem;
  bottom: -0.625rem;
  pointer-events: none;
}

.btn_w {
  background-color: #fff;
  color: #000;
}

.swiper {
  overflow: hidden;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

[class*=__arrow] {
  position: absolute;
  left: 50%;
  bottom: 1.125rem;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 3.6875rem;
  background: transparent;
  height: 3.125rem;
  font-size: 0;
}

[class*=__arrow] img {
  width: 100%;
  height: auto;
}

[class*=__arrow] span {
  position: absolute;
  bottom: calc(100% + 1.875rem);
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-size: 1.125rem;
  white-space: nowrap;
  font-weight: 700;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__body {
  padding: 1.8125rem 0rem 5.6875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.hero__logo {
  width: 21.5rem;
  height: 4.75rem;
}

.hero__logo:not(:last-child) {
  margin-bottom: 5rem;
}

.hero__logo img {
  width: 100%;
  height: auto;
}

.hero__words {
  position: relative;
  width: 21.9375rem;
  height: 21.875rem;
}

.hero__words img {
  width: 100%;
  height: auto;
}

.no-webp .hero__words::after {
  background: url("../img/hero/hand.png") 50%/100% no-repeat; }

.hero__words::after {
  content: "";
  position: absolute;
  right: 1.5625rem;
  top: -7.4375rem;
  width: 13.4375rem;
  height: 13.5rem;
}

.hero__words:not(:last-child) {
  margin-bottom: 1.25rem;
}

.hero__descr {
  font-size: 1.375rem;
  color: #000;
  font-family: "Unbounded", sans-serif;
}

.about {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__container {
  width: 100%;
}

.about__body {
  padding: 1.8125rem 0rem 2.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.about__logo {
  width: 21.5rem;
  height: 4.75rem;
}

.about__logo:not(:last-child) {
  margin-bottom: 3.125rem;
}

.about__logo img {
  width: 100%;
  height: auto;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.125rem;
}

.about__content p {
  font-size: 1.125rem;
  line-height: 1.6;
}

.about__content p:not(:last-child) {
  margin-bottom: 1.875rem;
}

.about__image {
  pointer-events: none;
  position: relative;
}

.no-webp .about__image::after {
  background: url("../img/about/robot-back.png") 50%/100% no-repeat; }

.about__image::after {
  content: "";
  position: absolute;
  top: -9%;
  left: -7%;
  width: 96%;
  height: 91%;
}

.about__image img {
  width: 100%;
  height: auto;
}

.author {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #000;
}

.no-webp .author::after {
  background: url("../img/author/text-back.png") 50%/100% no-repeat; }

.author::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-11deg);
      -ms-transform: translate(-50%, -50%) rotate(-11deg);
          transform: translate(-50%, -50%) rotate(-11deg);
  width: 97.75rem;
  height: 21.5625rem;
  pointer-events: none;
}

.author__body {
  padding: 1.8125rem 0rem 2.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  height: 100%;
}

.author__logo {
  width: 21.5rem;
  height: 4.75rem;
}

.author__logo:not(:last-child) {
  margin-bottom: 1.25rem;
}

.author__logo img {
  width: 100%;
  height: auto;
}

.author__content h2 {
  font-family: "Unbounded", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

.author__content h2:not(:last-child) {
  margin-bottom: 0.8125rem;
}

.author__content p {
  font-size: 1.125rem;
  line-height: 1.6;
}

.author__content p:not(:last-child) {
  margin-bottom: 1.875rem;
}

.author__price {
  margin-top: -1.875rem;
}

.author__price:not(:last-child) {
  margin-bottom: 0.375rem;
}

.author__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Unbounded", sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1.375rem;
  color: rgba(255, 255, 255, 0.8);
}

.author__bottom .text-2 span {
  font-size: 1.5625rem;
  color: #fff;
}

.reviews {
  position: relative;
  min-width: 0;
  min-height: 0;
}

.reviews::after {
  content: "";
  position: absolute;
  left: 0;
  z-index: -1;
  bottom: 0;
  width: 100%;
  height: 9.5rem;
  background: url("../img/reviews/bottom.svg") 50%/100% no-repeat;
}

.reviews__body {
  padding: 1.8125rem 0rem 2.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  min-height: 0;
  height: 100%;
}

.reviews__logo {
  width: 21.5rem;
  height: 4.75rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.reviews__logo:not(:last-child) {
  margin-bottom: 3.125rem;
}

.reviews__logo img {
  width: 100%;
  height: auto;
}

.reviews__slider {
  padding-bottom: 1.875rem;
}

.reviews__slide {
  border: 0.0625rem solid #000;
  border-radius: 1.1875rem;
  padding: 1.25rem;
  font-size: 0.875rem;
  line-height: 1.6;
  font-family: "Unbounded", sans-serif;
}

.reviews__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__pagination .swiper-pagination-bullet {
  -webkit-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.5625rem;
          flex: 0 0 0.5625rem;
  width: 0.5625rem;
  height: 0.5625rem;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.reviews__pagination .swiper-pagination-bullet:not(:last-child) {
  margin-right: 0.3125rem;
}

.reviews__pagination .swiper-pagination-bullet-active {
  background: #000;
}

.reviews__btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.top-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.top-reviews:not(:last-child) {
  margin-bottom: 0.5rem;
}

.top-reviews__label {
  font-family: "Unbounded", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

.top-reviews__right-arrow {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 11.25rem;
          flex: 0 0 11.25rem;
  width: 11.25rem;
  height: 3.5rem;
}

.top-reviews__right-arrow img {
  width: 100%;
  height: auto;
}

.slide-reviews {
  position: relative;
  min-height: 20.1875rem;
}

.slide-reviews__front,
.slide-reviews__back {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  border-radius: 1.1875rem;
  -webkit-transition: -webkit-transform 0.6s linear;
  transition: -webkit-transform 0.6s linear;
  transition: transform 0.6s linear;
  transition: transform 0.6s linear, -webkit-transform 0.6s linear;
}

.slide-reviews__front {
  padding: 1.25rem;
  -webkit-transform: perspective(600px) rotateY(0deg);
          transform: perspective(600px) rotateY(0deg);
}

.back .slide-reviews__front {
  -webkit-transform: perspective(600px) rotateY(-180deg);
          transform: perspective(600px) rotateY(-180deg);
}

.no-webp .slide-reviews__back {
  background: url("../img/reviews/review-background.jpg") 50%/cover no-repeat; }

.slide-reviews__back {
  -webkit-transform: perspective(600px) rotateY(180deg);
          transform: perspective(600px) rotateY(180deg);
}

.back .slide-reviews__back {
  -webkit-transform: perspective(600px) rotateY(0deg);
          transform: perspective(600px) rotateY(0deg);
}

.slide-reviews__back img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btn-reviews {
  position: absolute;
  right: 2.1875rem;
  bottom: -1.875rem;
  width: 3.625rem;
  height: 3.625rem;
  background: #000;
  border-radius: 50%;
  padding-top: 0.1875rem;
  overflow: hidden;
  border: 0.0625rem solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.back .btn-reviews {
  padding-top: 0;
  background-color: #fff;
}

.btn-reviews__icon-b {
  display: none;
}

.back .btn-reviews__icon-b {
  display: block;
}

.back .btn-reviews__icon-w {
  display: none;
}

.btn-reviews__text {
  font-size: 0.875rem;
  line-height: 1.6;
  color: #fff;
  display: inline-block;
  margin-top: -0.25rem;
}

.back .btn-reviews__text {
  display: none;
}

.no-webp .videos {
  background: #000 url("../img/videos/bg.png") 50%/cover no-repeat; }

.videos {
  position: relative;
}

.videos::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-10deg);
      -ms-transform: translate(-50%, -50%) rotate(-10deg);
          transform: translate(-50%, -50%) rotate(-10deg);
  pointer-events: none;
  background: url("../img/videos/masters.svg") 50%/100% no-repeat;
  width: 97.75rem;
  height: 21.5625rem;
}

.no-webp .videos::before {
  background: url("../img/videos/robot.png") 50%/100% no-repeat; }

.videos::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -0.625rem;
  width: 23.75rem;
  height: 22.75rem;
  z-index: 2;
  pointer-events: none;
}

.videos__body {
  padding: 1.8125rem 0rem 2.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  min-height: 0;
  height: 100%;
}

.videos__logo {
  width: 21.5rem;
  height: 4.75rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.videos__logo:not(:last-child) {
  margin-bottom: 3.125rem;
}

.videos__logo img {
  width: 100%;
  height: auto;
}

.videos__btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.left-videos {
  min-width: 0;
  color: #fff;
}

.left-videos span {
  font-family: "Unbounded", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  display: inline-block;
}

.left-videos span:not(:last-child) {
  margin-bottom: 1.625rem;
}

.left-videos p {
  font-size: 1.125rem;
  line-height: 1.6;
}

.no-webp .right-videos {
  background: url("../img/videos/tv.png") 50%/100% no-repeat; }

.right-videos {
  min-width: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55.8125rem;
          flex: 0 0 55.8125rem;
  width: 55.8125rem;
  min-height: 25.875rem;
  padding-top: 4.4375rem;
  position: relative;
}

.no-webp .right-videos::after {
  background: url("../img/videos/play.png") 50%/100% no-repeat; }

.right-videos::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 4.9375rem;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 16.25rem;
  height: 6.25rem;
}

.right-videos__wrapper {
  position: relative;
}

.right-videos__arrs {
  position: absolute;
  top: 50%;
  margin-top: -0.625rem;
  left: 5.5rem;
  right: 5.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.right-videos__arr {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.3125rem;
          flex: 0 0 0.3125rem;
  width: 0.3125rem;
  height: 0.625rem;
  background: url("../img/videos/arrow-left.svg") 50%/100% no-repeat;
}

.right-videos__arr_next {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.625rem;
          flex: 0 0 0.625rem;
  width: 0.625rem;
  height: 1.25rem;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.right-videos__slider {
  margin-right: 7.6875rem;
  margin-left: 7.125rem;
}

.right-videos__slide {
  border-radius: 0.625rem;
  overflow: hidden;
}

.right-videos__slide img {
  width: 100%;
}

.descrs {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.descrs::before,
.descrs::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.no-webp .descrs::after {
  background: url("../img/descrs/shadow.png") top right/100% no-repeat; }

.descrs::after {
  top: 0;
  right: 0;
  width: 26.875rem;
  height: 100%;
}

.descrs::before {
  content: "";
  position: absolute;
  bottom: -4.375rem;
  right: 0;
  width: 21.375rem;
  height: 28.75rem;
  background: url("../img/descrs/m.svg") 50%/100% no-repeat;
}

.descrs__body {
  padding: 1.8125rem 0rem 5.6875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.descrs__logo {
  width: 21.5rem;
  height: 4.75rem;
}

.descrs__logo:not(:last-child) {
  margin-bottom: 5rem;
}

.descrs__logo img {
  width: 100%;
  height: auto;
}

.descrs__list {
  padding-bottom: 2.5rem;
}

.descrs__item {
  font-family: "Unbounded", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.descrs__item_2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.descrs__item:not(:last-child) {
  margin-bottom: 6.625rem;
}

.descrs__image img {
  width: 100%;
}

.descrs__image_1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 13.375rem;
          flex: 0 0 13.375rem;
}

.video {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #000;
}

.video::before,
.video::after {
  content: "";
  position: absolute;
  pointer-events: none;
  right: 0;
}

.no-webp .video::after {
  background: url("../img/video/shadow.png") 0 0%/100% no-repeat; }

.video::after {
  bottom: 0;
  left: 17%;
  height: 12.1875rem;
}

.video::before {
  content: "";
  bottom: 1.25rem;
  background: url("../img/video/masters.svg") 50%/100% no-repeat;
  width: 7.1875rem;
  height: 46.875rem;
}

.video__body {
  padding: 1.8125rem 0rem 2.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.video__logo {
  width: 21.5rem;
  height: 4.75rem;
}

.video__logo:not(:last-child) {
  margin-bottom: 4.375rem;
}

.video__logo img {
  width: 100%;
  height: auto;
}

.video__label {
  font-family: "Unbounded", sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
  color: #fff;
}

.video__label span {
  font-size: 3.5rem;
}

.no-webp .video__image {
  background: url("../img/video/imac.png") 50%/100% no-repeat; }

.video__image {
  width: 34.75rem;
  height: 29.75rem;
  position: relative;
}

.video__image img {
  position: absolute;
  top: 0.8125rem;
  left: 0.8125rem;
  width: 33.125rem;
  height: 18.625rem;
}

@media (min-width: 61.99875em) {
  .about__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 35.625rem;
            flex: 0 0 35.625rem;
  }

  .about__image {
    width: 122%;
  }

  .author__price {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Unbounded", sans-serif;
  }

  .author__price span {
    font-weight: 700;
    margin-right: 0.9375rem;
    font-size: 1.375rem;
  }

  .author__bottom .text-1 {
    margin-right: 0.8125rem;
  }

  .author__bottom .text-2 {
    margin-right: 2.4375rem;
  }

  .reviews__pagination {
    display: none;
  }

  .reviews__btn {
    display: none;
  }

  .videos__btn {
    display: none;
  }

  .videos__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .descrs__item span {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 36.875rem;
            flex: 0 0 36.875rem;
  }

  .video__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .video__label {
    padding-bottom: 6.25rem;
  }

  .video__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 34.75rem;
            flex: 0 0 34.75rem;
  }
}

@media (min-width: 77.49875em) {
  .about__body {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .about__right {
    position: relative;
    right: -3.125rem;
  }

  .video__row {
    padding: 0rem 6.25rem;
  }
}

@media (max-width: 77.49875em) {
  .reviews::after {
    background-size: cover;
  }

  .left-videos p {
    font-size: 1rem;
  }

  .right-videos {
    padding-top: 2.5rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 44.625rem;
            flex: 0 0 44.625rem;
    width: 44.625rem;
    min-height: 20.6875rem;
  }

  .right-videos::after {
    width: 11.375rem;
    height: 4.375rem;
  }

  .right-videos__arrs {
    display: none;
  }

  .right-videos__slider {
    margin-right: 4.0625rem;
    margin-left: 3.75rem;
  }

  .descrs::before {
    display: none;
  }
}

@media (max-width: 61.99875em) {
  [class*=__arrow] {
    width: 2.9375rem;
    height: 2.5rem;
  }

  .hero__body {
    padding: 2.5rem 0rem 5.6875rem;
  }

  .hero__logo {
    width: 18.3125rem;
    height: 4rem;
  }

  .hero__descr {
    font-size: 1.25rem;
  }

  .about__body {
    padding: 2.5rem 0rem 4.0625rem;
  }

  .about__logo {
    width: 18.3125rem;
    height: 4rem;
  }

  .about__logo:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .about__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.25rem;
  }

  .about__right {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about__image {
    max-width: 28.125rem;
  }

  .author::after {
    width: 68.375rem;
    height: 15.0625rem;
  }

  .author__body {
    padding: 2.5rem 0rem 4.0625rem;
  }

  .author__logo {
    width: 18.3125rem;
    height: 4rem;
  }

  .author__content h2 {
    font-size: 1.75rem;
  }

  .author__content p {
    font-size: 1rem;
  }

  .author__content p:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .author__price {
    margin-top: -1.25rem;
  }

  .author__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    font-size: 1.125rem;
  }

  .author__bottom .text-1 {
    display: none;
  }

  .author__bottom .text-2 {
    margin-bottom: 1.8125rem;
  }

  .author__bottom .text-2 span {
    display: block;
    margin-top: 0.4375rem;
    font-size: 1.5625rem;
  }

  .reviews__body {
    padding: 2.5rem 0rem 4.0625rem;
  }

  .reviews__logo {
    width: 18.3125rem;
    height: 4rem;
  }

  .reviews__logo:not(:last-child) {
    margin-bottom: 1.4375rem;
  }

  .reviews__slider {
    margin-bottom: 1.25rem;
  }

  .reviews__pagination:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .top-reviews:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .top-reviews__label {
    font-size: 1.75rem;
  }

  .videos__body {
    padding: 2.5rem 0rem 4.0625rem;
  }

  .videos__logo {
    width: 18.3125rem;
    height: 4rem;
  }

  .videos__logo:not(:last-child) {
    margin-bottom: 1.4375rem;
  }

  .left-videos {
    margin-bottom: 2rem;
  }

  .left-videos span {
    font-size: 1.875rem;
  }

  .left-videos span:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .right-videos {
    margin: 0 auto;
  }

  .right-videos__slider {
    margin-right: 6.25rem;
    margin-left: 6.25rem;
  }

  .descrs__body {
    padding: 2.5rem 0rem 5.6875rem;
  }

  .descrs__logo {
    width: 18.3125rem;
    height: 4rem;
  }

  .descrs__item:not(:last-child) {
    margin-bottom: 5rem;
  }

  .video::after {
    display: none;
  }

  .video::before {
    display: none;
  }

  .video__body {
    padding: 2.5rem 0rem 5.6875rem;
  }

  .video__logo {
    width: 18.3125rem;
    height: 4rem;
  }

  .video__logo:not(:last-child) {
    margin-bottom: 3.4375rem;
  }

  .video__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .video__label:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .video__label span {
    -ms-flex-item-align: end;
        align-self: flex-end;
    font-size: 2.8125rem;
  }
}

@media (max-width: 47.99875em) {
  [class*=__arrow] {
    width: 2.375rem;
    height: 2rem;
  }

  .hero__body {
    padding: 4.125rem 0rem 4.9375rem;
  }

  .hero__words {
    width: 24rem;
    height: 24rem;
  }

  .hero__words::after {
    width: 19.875rem;
    height: 19.875rem;
    right: -4.5rem;
    top: -12.375rem;
  }

  .hero__descr {
    font-size: 1.125rem;
  }

  .about__body {
    padding: 4.125rem 0rem 4.0625rem;
  }

  .about__content p {
    font-size: 1rem;
  }

  .about__content p:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .about__content p:first-child {
    max-width: 79%;
  }

  .author::after {
    width: 52.125rem;
    height: 11.5rem;
    -webkit-transform: translate(-50%, -50%) rotate(-70deg);
        -ms-transform: translate(-50%, -50%) rotate(-70deg);
            transform: translate(-50%, -50%) rotate(-70deg);
  }

  .author__content h2 {
    font-size: 1.5rem;
  }

  .author__content p {
    font-size: 0.8125rem;
  }

  .author__content p:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .author__bottom {
    font-size: 0.8125rem;
  }

  .author__bottom .text-2 span {
    font-size: 1.5625rem;
  }

  .reviews__body {
    padding: 4.125rem 0rem 4.0625rem;
  }

  .top-reviews__label {
    font-size: 1.5rem;
  }

  .top-reviews__right-arrow {
    display: none;
  }

  .videos::before {
    width: 16.625rem;
    height: 15.9375rem;
  }

  .videos__body {
    padding: 4.125rem 0rem 4.0625rem;
  }

  .left-videos span {
    font-size: 1.75rem;
  }

  .left-videos span:not(:last-child) {
    margin-bottom: 1.0625rem;
  }

  .no-webp .right-videos {
    background-image: url("../img/videos/tv-mob.png"); }

  .right-videos {
    width: 26.875rem;
    height: 25.625rem;
  }

  .right-videos__arrs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 3.125rem;
    right: 3.125rem;
  }

  .right-videos__slider {
    margin: 0 auto;
    max-width: 16.9375rem;
  }

  .descrs__body {
    padding: 4.125rem 0rem 4.9375rem;
  }

  .descrs__item:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .descrs__image_1 {
    margin-right: -6.25rem;
    -webkit-transform: rotate(8deg);
        -ms-transform: rotate(8deg);
            transform: rotate(8deg);
  }

  .descrs__image_2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 12.5rem;
            flex: 0 0 12.5rem;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    margin-left: -3.75rem;
  }

  .video__body {
    padding: 4.125rem 0rem 6.25rem;
  }

  .video__logo:not(:last-child) {
    margin-bottom: 2.625rem;
  }

  .video__label span {
    font-size: 2.25rem;
  }

  .video__image {
    width: 24.375rem;
    height: 20.875rem;
  }

  .video__image img {
    top: 0.5625rem;
    left: 0.5625rem;
    width: 23.25rem;
    height: 13.125rem;
  }
}

@media (max-width: 29.99875em) {
  .hero__logo {
    width: 16.1875rem;
    height: 3.5625rem;
  }

  .about__logo {
    width: 16.1875rem;
    height: 3.5625rem;
  }

  .author__logo {
    width: 16.1875rem;
    height: 3.5625rem;
  }

  .reviews__logo {
    width: 16.1875rem;
    height: 3.5625rem;
  }

  .videos__logo {
    width: 16.1875rem;
    height: 3.5625rem;
  }

  .left-videos span {
    font-size: 1.5rem;
  }

  .left-videos p {
    font-size: 0.9375rem;
  }

  .right-videos {
    margin-left: -1.25rem;
  }

  .descrs__logo {
    width: 16.1875rem;
    height: 3.5625rem;
  }

  .video__logo {
    width: 16.1875rem;
    height: 3.5625rem;
  }
}

@media (max-width: 26.87375em) {
  .btn {
    padding: 1.4375rem 1.4375rem 1.9375rem 1.875rem;
  }

  .hero__words {
    width: 16.75rem;
    height: 16.75rem;
  }

  .hero__words::after {
    top: -7.5rem;
    right: -3.125rem;
    width: 13.9375rem;
    height: 13.9375rem;
  }

  .about__content p:first-child {
    max-width: none;
  }

  .right-videos {
    width: 100%;
    margin-left: 0;
  }

  .descrs__image_2 {
    margin-left: -2.5rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.125rem;
            flex: 0 0 8.125rem;
  }

  .video__label {
    font-size: 1.75rem;
  }

  .video__image {
    width: 17.0625rem;
    height: 14.625rem;
  }

  .video__image img {
    width: 16.25rem;
    height: 9.1875rem;
    top: 0.4375rem;
    left: 0.4375rem;
  }
}

@media (any-hover: hover) {
  .slide-reviews:hover .slide-reviews__front {
    -webkit-transform: perspective(600px) rotateY(-180deg);
            transform: perspective(600px) rotateY(-180deg);
  }

  .slide-reviews:hover .slide-reviews__back {
    -webkit-transform: perspective(600px) rotateY(0deg);
            transform: perspective(600px) rotateY(0deg);
  }

  .slide-reviews:hover .btn-reviews {
    padding-top: 0;
    background-color: #fff;
  }

  .slide-reviews:hover .btn-reviews__icon-w {
    display: none;
  }

  .slide-reviews:hover .btn-reviews__icon-b {
    display: block;
  }

  .slide-reviews:hover .btn-reviews__text {
    display: none;
  }
}

.webp .btn::after { background: url(../img/icons/btn-background.webp) 50%/100% no-repeat; }

.webp .hero__words::after { background: url(../img/hero/hand.webp) 50%/100% no-repeat; }

.webp .about__image::after { background: url(../img/about/robot-back.webp) 50%/100% no-repeat; }

.webp .author::after { background: url(../img/author/text-back.webp) 50%/100% no-repeat; }

.webp .slide-reviews__back { background: url(../img/reviews/review-background.webp) 50%/cover no-repeat; }

.webp .videos { background: #000 url(../img/videos/bg.webp) 50%/cover no-repeat; }

.webp .videos::before { background: url(../img/videos/robot.webp) 50%/100% no-repeat; }

.webp .right-videos { background: url(../img/videos/tv.webp) 50%/100% no-repeat; }

.webp .right-videos::after { background: url(../img/videos/play.webp) 50%/100% no-repeat; }

.webp .descrs::after { background: url(../img/descrs/shadow.webp) top right/100% no-repeat; }

.webp .video::after { background: url(../img/video/shadow.webp) 0 0%/100% no-repeat; }

.webp .video__image { background: url(../img/video/imac.webp) 50%/100% no-repeat; }

@media (max-width: 47.99875em) {

  .webp .right-videos { background-image: url(../img/videos/tv-mob.webp); }
}